<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IgniteUI.Free" version="13.1.20131.2292" targetFramework="net451" />
  <package id="jQuery" version="1.9.1" targetFramework="net451" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net451" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net451" />
</packages>